{% extends 'base_usuario.html' %}

{% block titulo %} DASHBOARD USUARIO {% endblock %}


{% block contenido %}
<h3>DASHBOARD USUARIO</h3>

{% if nombre %}

<h3>BIENVENIDO {{nombres}}</h3>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <a href="{{ url_for('usuario.dashboard_usuario')}}" class="btn btn-info">DASHBOARD</a>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <a href="{{ url_for('usuario.cambio_contrasena')}}" class="btn btn-info">CAMBIAR CONTRASEÑA</a>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <a href="{{ url_for('usuario.actualizar_perfil')}}" class="btn btn-danger">ACTUALIZAR PERFIL</a>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <a href="{{ url_for('usuario.logout_usuario')}}" class="btn btn-danger">SALIR</a>
        </div>
    </div>
</div>

<!--TABLA PARA MOSTRAR LA INFORMACIONA-->
<div class="container">
    <div class="my-2">
        <div class="table-respoonsive">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!--columnas-->
                        <th>R.P.E</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                    </tr>
                </thead>

                <!--contenido de la tabla-->
                <tbody>
                    <tr>
                        <td>{{rpe}}</td>
                        <td>{{nombres}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{email}}</td>
                    </tr>
                </tbody>
                

            </table>

        </div>
    </div>
</div>



{% endblock %} 