<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
    <title>
        {% block titulo %}
        
        {% endblock titulo %}
    </title>



    {% block head %}

    {% endblock head %}

</head>




<body>

        <!--Ver los mensajes que tienen-->
        {% with mensajes = get_flashed_messages(with_categories=True) %}
        {% if mensajes %}
            <div class="container">
                {% for categoria, mensaje in mensajes %}
                    <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                        {{ mensaje }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    {% block contenido %}
    
    {% endblock contenido %}
</body>


</html>